{% extends 'base.html.twig' %}

{% block title %}Gestion des utillisateurs de l'entreprise {{app.user.company.name}}{% endblock %}

{% block body %}
<div class="container mt-2">
    <div class="bg-white shadow p-4 rounded w-100">
        <h5>{{ block('title') }}</h5>
        {% set acSystem = app.user.company.config.accountSystem %}
        {% if acSystem == "WebUI" %}
            {% include 'configuration/companyUsers/webui/index.html.twig' %}
        {% elseif acSystem == "CSV" %}
            {% include 'configuration/companyUsers/csv.html.twig' %}
        {% elseif acSystem == "Webhook" %}
            {% include 'configuration/companyUsers/webhook.html.twig' %}
        {% elseif acSystem == "API" %}
            {% include 'configuration/companyUsers/api.html.twig' %}
        {% else %}
            <div class="alert alert-danger">
                Erreur de configuration de l'entreprise. Veuillez contacter le support.
            </div>
        {% endif %}        
    </div>
</div>
{% endblock %}