<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Equipe</th>
            <th>Selection</th>
        </tr>
    </thead>
    <tbody>
        {% for user in webusers %}
            <tr>
                <td>{{ user.companyInternalId }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.team }}</td>
                <td>
                    <input class="form-check-input" type="checkbox" name="userIds[]" value="{{ user.id }}">
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun membre trouvé</td>
            </tr>
        {% endfor %}
    </tbody>    
</table>