<table class="table table-hover border">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Equipe</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for user in webusers %}
            <tr>
                <td>{{ user.companyInternalId }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.team }}</td>
                <td class="p-1">
                    <button class="btn btn-sm btn-primary" type="submit" name="userId" value="{{ user.id }}">Sélectionner</button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun membre trouvé</td>
            </tr>
        {% endfor %}
    </tbody>    
</table>