<div class="modal-dialog modal-lg modal-dialog-centered">    
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">
                {% if targetuser.id is not null %}
                    Modifier l'utilisateur {{ targetuser.username }}
                {% else %}
                    Ajouter un utilisateur
                {% endif %}
            </h5>
        </div>
        <div class="modal-body">
            {{ form(form, {'action': path('app_gestion_company_users_edit', {'userid': targetuser.id ?? 'new' })}) }}
        </div>
    </div>
</div>