<table>
    <thead>
        <tr>
            <th>Nom</th>
            <th>Email</th>
            <th>Rôle</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.role }}</td>
                <td>
                    <button hx-get="{{ path('app_gestion_company_users_edit', { userid: user.id }) }}" 
                        hx-target="#user-edit-modal" hx-trigger="click" data-bs-toggle="modal"
                        data-bs-target="#user-edit-modal"
                        class="btn btn-sm btn-outline-primary border-0 btn-sm mx-3">
                        <i class="bi bi-pencil"></i>
                    </button>
                    <button type="button"
                        class="btn btn-sm btn-outline-primary border-0 btn-sm mx-3">
                        <i class="bi bi-trash"></i>
                    </button>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>