{% extends 'base.html.twig' %}

{% block title %}Configuration{% endblock %}

{% block body %}
<div class="container">
    <div class="bg-white shadow p-4 rounded w-100" >
        <h1>Configuration</h1>
        <ul>
            <li>
                <a href="{{ path('admin') }}" hx-boost="false">Administration globale</a>
            </li>
            <li>
                <a href="{{ path('app_conf_company') }}" hx-boost="false">Configuration</a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
