{% extends 'base.html.twig' %}

{% block title %}DashBoard
{% endblock %}

{% block body %}
	<div class="example-wrapper">
		<h1>Dashboard</h1>
	</div>

	<a class="nav-link" href="{{ path('app_campagne') }}">Campagnes</a>

{% endblock %}
