{% extends 'base.html.twig' %}

{% block title %}DashBoard
{% endblock %}

{% block body %}
	<div class="container pt-3">
		<h1>Accueil</h1>

		{% if app.user.waitingQuest > 0 %}
			<div class="alert alert-info">
				Vous avez été sollicité pour répondre à des questionnaires.
			</div>
		{% endif %}
		{% for observer360 in app.user.responses360ToDo %}
			{% include "campaign/fdb360-obs/card.html.twig" with {'observer': observer360, 'observation': observer360.observation} %}
		{% endfor %}
	</div>
{% endblock %}
