{% extends 'base.html.twig' %}

{% block title %}Gestion de campagne{% endblock %}

{% block body %}
    <div class="container pt-3">
        <div class="d-flex justify-content-center mb-3 gap-3">
            <div class="bg-white shadow p-3 rounded col{{campagne?'-6'}}" >
                {% if campagne %}
                    <h3>Gestion de la campagne</h3>
                {% else %}
                    <h3>Création d'une nouvelle campagne</h3>
                {% endif %}    
                {{ form(form) }}
            </div>
            {% if campagne %}
                {% include 'campagne/manage/fdb360steps.html.twig' with {'campagne': campagne} %}
            {% endif %}
        </div>
        {% if campagne and campagne.isStateOrAfter('draft') %}
            <div class="bg-white shadow p-4 rounded w-100">
                <h3>Observations en préparation</h3>
                <input type="text" class="form-control mb-3" placeholder="Rechercher par nom ou ID" aria-label="Rechercher">
                <div>
                    
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}