<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">{{ observation.agent.getFullName() }}</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">Campagne de FeedBack 360 : <b>{{ observation.campaign.name }}</b></h6>
    </div>
</div>